.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.cards {
  width: 60%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0 1rem 0 1rem;
}

.icon {
  width: 5rem;
  margin-top: 1rem;
}

.card:not(:first-child){
  border-left: 1px solid #E6ECF8;
}

.card .content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.card .content .list-title {
  color: #7510F7;
  font-weight: bold;
}

.card .content .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}